body {
    font-size: 14px;
    line-height: 22px;
    font-family: "Work Sans", sans-serif;
    .form-control {
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
      }
    }
    textarea {
      border-color: #ccc;
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
        outline: none;
      }
    }
    a {
      color: black;
      transition: 0.2s linear;
      &:hover {
        text-decoration: none;
        color: #f46c36;
      }
      &:focus {
        outline: none;
      }
    }
    p {
      text-align: justify;
      line-height: 1.875em;
      color: #7e8890;
      font-size: 16px;
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
    }
    button {
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
      }
      &:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    input .btn {
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
  h1,
  h2,
  h3,
  h4
   {
    font-family:"Work Sans", sans-serif;
    font-size: 36px;
    line-height: 1.22em;
    font-weight: 400;

    margin-bottom: 0;
    &:focus {
      outline: none;
    }
  }
  .no-pad {
    padding: 0;
  }

  .sec-padding {
    padding: 80px 0;

  }
  .sec-background {
    background-color: white;
  }
  *:focus {
    outline: none;
}


