@mixin flexCenter() {
    display: flex;
    justify-content: center;
    text-align: center;
}


@mixin btn-learn-more() {
          font-size: 15px;
          padding: 10px 20px;
          background-color: #031634;
          border-radius: 50px;
          color: white;
          width: auto;
}